@import './reset';
@import './componets/selector';
@import './componets/updated';
@import './componets/filtros';
@import './componets/datepicker';
@import './componets/fechas';

#informesappria
	background white
	box-sizing border-box
	overflow hidden
	height auto
	#informes_wrapper
		.headerInformes
			position fixed
			background rgba(255, 255, 255, 0.93)
			margin 0
			padding 1em
			width 100%
			display inline-block
			top 0
			height 60px
			margin-left 0
			box-shadow 0 1px 2px rgba(0, 0, 0, 0.10)
			section
				position relative
				display inline-block
				padding 1em
				height 35px
		.viewInformes
			background white
			display block
			margin 1em
			margin-top 8em
			border-radius 3px 3px 0 0
			height 2000px
			overflow auto
			box-shadow 0 -1px 2px rgba(0, 0, 0, 0.22)
