@import './reset';
@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,500');
body, html
	font 14px Arial, sans-serif
	padding 0
	background #DDD
	margin 0

#informesappria
	#informes_wrapper
		background white
		height 3000px
		.headerInformes
			background red
			margin 1em
		.viewInformes
			background yellow
			margin 1em
	.updatedInfo
		background white
		display inline-block
		padding .8em 1.5em
		margin 0
		margin-left 2em
		position fixed
		bottom 0
		border-radius 3px 3px 0 0
		box-shadow 0 -1px 3px rgba(0, 0, 0, 0.11)
		color black
		font-size 0.8em
		p
			padding 0
			margin 0
			a
				margin-left .3em
				text-transform uppercase
				color rgba(34, 129, 255, 0.79)
				text-decoration none
				font-weight bold

