#informesappria
	#informes_wrapper
		.headerInformes
			.fechaInformes
				float right
				margin-top .5em
				padding-right 3em
				color #C1C1C1
				input
					width 7em
					text-align center
					border none
					color #2B3033
					font-weight bold
					padding 0 .5em
					font-size 1.1em
					margin-top -2em
					cursor pointer